<div class="d-flex justify-content-center" style="margin-top: 7em;">
    <div class="col-md-6 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">user details</h5>
            </div>
            <div class="card-body">
                <form action="/updateAddress" method="post">
               
            <input name="updateId" value="{{userAddress.address.[0].addressId}}" hidden />
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form7Example1"  name="First_Name" value="{{userAddress.address.[0].First_Name}}" class="form-control" />
                                <label class="form-label" name="First_Name"  for="form7Example1">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form7Example2" name="Last_Name" value="{{userAddress.address.[0].Last_Name}}" class="form-control" />
                                <label class="form-label" for="form7Example2">Last name</label>
                            </div>
                        </div>
                    </div>

                    <!-- Text input -->
                    <div class=" form-outline  mb-4">
                        <input type="text" id="form7Example3" name="Address" value="{{userAddress.address.[0].Address}}" class="form-control" />
                        <label class="form-label" for="form7Example3">Address</label>
                    </div>
                    <div class="form-outline mb-4 ">
                        <input type="text" id="form7Example3" name="City"  value="{{userAddress.address.[0].City}}" class="form-control" />
                        <label class="form-label" for="form7Example3">City</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form7Example4" name="State" value="{{userAddress.address.[0].State}}" class="form-control" />
                        <label class="form-label" for="form7Example4">State</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="form7Example4" name="Post_Code" value="{{userAddress.address.[0].Post_Code}}" class="form-control" />
                        <label class="form-label" for="form7Example4">Post_Code</label>
                    </div>
            </div>
            <!-- Number input -->
            <div class="form-outline ml-3 mr-3 mb-4">
                <input type="number" id="form7Example6" name="Phone"  value="{{userAddress.address.[0].Phone}}" class="form-control" />
                <label class="form-label" for="form7Example6">Phone</label>
            </div>
            <div class="form-outline ml-3 mr-3 mb-4">
                <input type="number" id="form7Example6" name="Alt_Phone" value="{{userAddress.address.[0].Alt_Phone}}" class="form-control" />
                <label class="form-label" for="form7Example6">Phone</label>
            </div>

            {{!--
            <!-- Message input -->
            <div class="form-outline mb-4">
                <textarea class="form-control" id="form7Example7" rows="4"></textarea>
                <label class="form-label" for="form7Example7">Additional information</label>
            </div> --}}

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">update</button>
                  </div> 
 

            </form>
        </div>
    </div>
</div>


</div>
 {{>user-footer}}